@import "bootstrap";
html {
	margin:0;
  /* background:#F0F0F0  ; */
  
}

body {
width:1050px;
    margin: 0 auto 0 auto; 

  padding-top: 45px;
}


.navbar-custom {
background: rgb(37,141,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */


    color:#ffffff;
    border-radius:0;
  min-height:0px;
  
}

.profnav {
  float:right;
  display:inline;
  font-weight:normal;
	font-size:18px;
color:#ffffff;
  padding-right:100px;
}

.profnav a {
  text-decoration:none;
}

.logo {
  font-weight:bold;
	font-size:20px;
  display:inline;
padding-left:100px;
  
}

.padtop {
  padding-top:5px;
  padding-bottom:5px;
}

.logo a {
  color:#ffffff;

   -webkit-text-stroke-color: black;
  text-decoration: none;
}

#filters a {
  text-decoration:none;
}

.altnav a {
  display:inline;
  color:#ffffff;
  
}

.xx {
  float:right;
}

footer {
	text-align:center;
	
}

ul {
	list-style:none;
    padding-left:0;
}

h1 {
  font-size:20px;
  display: inline;
}

h2 {
  font-size:20px;
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
}

#tag {

  font-size:14px;
}





#citytitle {
	text-align:center;
  font-weight:bold;
	font-size:20px;
  padding-top:20px;
  padding-bottom:10px;
}

.bod {

  
}



.btn-group  {
  padding-top:2.5px;
}

#sidebar {
  padding-right:5px;
	text-align:center;
	list-style-type:none;
 padding-left:5px;
}

#filters {
}

#links {
	word-wrap:break-word;
	list-style-type:none;
	border-bottom-style:solid;
    border-width:thin;

}

.linkpad {
  
  padding-bottom:5px;
}

.votes {
	text-align:center;
}


.votesup {
padding-left:1px;
}

#votesS {
	
	font-size:25px;
	
}

.linkbody {
	word-wrap:break-word;
	font-weight:bold;
	font-size:20px;
	padding-top:5px;
  padding-bottom:5px;
}

.linkbodyE {
	word-wrap:break-word;
	
	font-size:20px;
	padding-top:5px;
  padding-left:15px;
}

.linkbodyEx {
	word-wrap:break-word;
	color:#009933;
	font-size:20px;
	padding-top:5px;
  padding-left:15px;
}

#linkauth {
	padding-top:5px;
	padding-bottom:5px;
  font-size:15px;
  font-weight:normal;
}

#reply-container {
  font-size:15px;
  font-weight:normal;
}



#linktime {
	float:right;
	padding-top:5px;
}
#addlink {
	float:right;
}

#jobs {
	padding-top:10px;
	padding-bottom:20px;
}

#ads {
text-align:center;

}

#linktitle {
	padding-top:20px;
  padding-bottom:5px;
	font-weight:bold;
	font-size:20px;
}
#linktitleS {
  padding-top:10px;
  padding-bottom:5px;
	font-weight:bold;
	font-size:20px;
}

#linktext {
padding-bottom:10px;
  font-size:20px;

}

#linktextB {
padding-bottom:10px;
font-size:17px;
	font-weight:normal;
}

#linkcomment {
  padding-top:10px;
  padding-bottom:10px;
}

#commentcomment {
	padding-left:30px;
}

.actions {
 padding-top:5px; 
}

#votesCont {
  text-align:center;
  width:50px;
}
.commentbod {
 width:500px;
}

.reply-container { display: none;

}


#usergroups {
 width:200px; 
}

#fileup {
 width:175px; 
}

.glyphup {
  padding-bottom:7px;
}

#glyphupP {
  padding-bottom:12px;
}

#glyphupPL {
  padding-bottom:12px;
}

.glyphdown {
  padding-top:7px;
  padding-bottom:5px;
}

.col-votes {
  width:45px; 
  float:left;
}

.col-bod {
  width:700px;
  float:left;
}

#meetups {
   text-align:center;
  padding-top:10px;
 
}

#footabout {
 float:right; 
  padding-right:10px;
}

#footcontact {
 float:right; 
  padding-right:10px;
}

#paginate {
  float:left;
}

#policy {

  text-align:center;
}

.message_group .row .glyphicon.glyphicon-chevron-up {
  padding-left:1px;
}

#contactbutt a:link {color:#FFFFFF;}

#contactbutt a:visited {color:#FFFFFF;}

.EvButts {
  padding-left:15px;
}

#commpad {
 padding-top:5px; 
}

.navbar-text {
 float:right;
   font-weight:bold;
	font-size:20px;
}

.navbar {
    margin-bottom: 0;
}

#navtitle {
   font-weight:bold;
	font-size:25px;
  padding-bottom:5px;
  padding-top:5px;
}

.bodymob {
  padding-top: 45px;

}

.linksmob {
  word-wrap:break-word;

   padding-left:10px;
  padding-right:10px;
  border-bottom-style:solid;
    border-width:thin;
}

#filtersmob {
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:15px;
}

.linkbodmob {
  font-size:20px;

 
}

.row2mob {
  padding-top:10px;
}

.gup {
  margin:0;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.billyea {

font-size:15px;
}

#votestop {
  	border-bottom-style:solid;
    border-width:thin;
  	word-wrap:break-word;
	list-style-type:none;
}

.billtitle {
  	word-wrap:break-word;
	font-weight:bold;
	font-size:20px;
  padding-left:10px;
  color:#009933;
}

.billdesc {
  	word-wrap:break-word;
  padding-left:20px;
  padding-bottom:5px;
}

.billdate {
  padding-left:10px;
  font-weight:bold;
	font-size:15px;
}

#commpadB {
  	border-bottom-style:solid;
    border-width:thin;
  margin-bottom:20px;
}

.selected {
  	word-wrap:break-word;
	font-weight:bold;
	font-size:20px;
  padding-left:10px;
  color:#009933;
}

.trigger- {
}

.trigger {
padding-bottom:3px;
}

.ctrigger {
  display: inline;

}

.ctrigger- {
  display: inline;

}

.ctriggerJ {
  padding-left:13px;
  padding-right:10px;
  display: inline;
}

.ctriggerJx {
  padding-left:13px;
  padding-right:10px;
 
  display: inline;
}

.ctriggerPL {
  padding-left:12.5px;
  padding-right:12.5px;
  display: inline;
}

.ctriggerPLE {
  padding-left:13px;
  padding-right:12.5px;
  display: inline;
}

.billrow {
  display: inline;
  
}

.sdf {
  display: inline;
}
.sfd {
  display: inline;
}
.sado {
  display: inline;
}

.tre {
  display: inline;
}

.trm {
  display: inline;
}
.sad {
  
  display: inline;
}
