<p>
  <strong>Title:</strong>
  <%= @state.title %>
</p>


 <% if user_signed_in? %>
<%= link_to "Add a link", new_state_link_path(params[:id]) %>

<% end %>

<% @links.each do |link| %>

 <%= link_to link.title %>
 <% end %>