edit for desktop IO

<li>
<p>  
<%= link_to "Oklahoma", "/states/1" %>
</p>
<ul>
<p>
Universities
	</p>
<p>
	Cities
</p>
<%= link_to "Tulsa", "/cities/1" %>
<p>
	Districts
</p>
	<li><%= link_to "District 1", "/cities/1/districts/1" %>

	</li>
</ul>
</li>

<li>
<p>
<%= link_to "New York", "/states/2" %>
</p>
</li>



