<p>
	<% if user_signed_in? %>
<%= link_to "Add a link", new_link_path %>

<% end %>
</p>

  <% @links.each do |link| %>
   
  <ul>

    <%= link_to link.url %>
    <%= link_to link.title %>

    by

    
   
    
<%= link.username %>
    

    
    </ul>
 
    <% end %>

  


