@import "bootstrap";
html {
	margin:0;
}

body {
 

}

footer {
	text-align:center;
	
}

ul {
	list-style:none;
    padding-left:0;
}


.navbar {
    margin-bottom:0;
  }

.headR {
	float:right;
}

.bod {
	width:1200px;
    margin: 0 auto 0 auto;
    
}

#sidebar {

	margin: 0;
	float:left;
	text-align:center;
	list-style-type:none;
	padding-right:5px;
	padding-top:20px;
}



#citytitle {
	text-align:center;
}




#links {
	word-wrap:break-word;
	list-style-type:none;
	border-bottom-style:solid;
    border-width:thin;
	
}

.votes {
	text-align:center;
}

#votesup {
	padding-left:1px;
}

#votesS {
	font-weight:bold;
	font-size:20px;
	
}

#linkbody {
	word-wrap:break-word;
	font-weight:bold;
	font-size:20px;
	padding-top:5px;
}

#linkauth {
	padding-top:5px;
	padding-bottom:5px;
}

#linktime {
	float:right;
	padding-top:5px;
}
#addlink {
	float:right;
}

#jobs {
	padding-top:20px;
	padding-bottom:20px;
}

#ads {
text-align:center;

}