@import "bootstrap";

 html {
 	background:#ffffff;
 	
 }

#headerL {

	float:left;
}

#headerR {
	float:right;
}

#foot {
	text-align:center;
	background:#00FFFF; 
}

.container-fluid {
     background:#C0C0C0;
    width:950px;
    margin: 0 auto 0 auto;
}

#citytitle {
	text-align:center;
}

#sidebar {
	list-style-type:none;
}

#profile {
	
}

#links {
	vertical-align:middle;
	list-style-type:none;
}
#addlink {
	float:right;
}
#ads {
	text-align:center;
}