@import "bootstrap";
html {
	margin:0;
}

body {
 
}

footer {
	text-align:center;
	
}

ul {
	list-style:none;
    padding-left:0;
}

h1 {
  font-size:25px;
  display: inline;
  
}

#logo {
  
  font-weight:bold;
	font-size:25px;
  padding-top:15px;
	text-align:center;
}

#citytitle {
	text-align:center;
  font-weight:bold;
	font-size:20px;
  padding-top:25px;
}

.bod {
	width:1200px;
    margin: 0 auto 0 auto;
    
}

#sidebar {
  padding-top:15px;
  padding-right:10px;
	text-align:center;
	list-style-type:none;
}

#links {
	word-wrap:break-word;
	list-style-type:none;
	border-bottom-style:solid;
    border-width:thin;
	
}

.votes {
	text-align:center;
}

#votesup {
	padding-left:1.5px;
}

#votesS {
	
	font-size:25px;
	
}

#linkbody {
	word-wrap:break-word;
	font-weight:bold;
	font-size:20px;
	padding-top:5px;
}

#linkauth {
	padding-top:5px;
	padding-bottom:5px;
}

#linktime {
	float:right;
	padding-top:5px;
}
#addlink {
	float:right;
}

#jobs {
	padding-top:10px;
	padding-bottom:20px;
}

#ads {
text-align:center;

}

#linktitle {
	padding-top:20px;
	font-weight:bold;
	font-size:20px;

}

#commentcomment {
	padding-left:30px;
}

