// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#links {
	
			 float:left;
			 display:inline;
			 list-style-type: none;
			 text-align:center;
}